*{
    font-family: 'poppins', sans-serif;
    color: white;
}
.header-top{
    background-color: #1a5e92;
}
.dropdown button:hover{
    background-color: #1a5e92;
    color: white;
}
.dropdown-item:hover {
    background-color: #007bff; 
    color: white;
}

.navbar{
    background-color: #013c6c;  
}
.navbar-brand img {
    min-width: 20px;
    width: auto;
    height: 40px;
}
.nav-item .nav-link{
    color: white !important;
}
.nav-item .nav-link:hover{
    color: blue !important;
    
}
.hero{
    background-image: url('./Assets/home-background.jpg');
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

/* About section CSS */
.award-list {
    margin: -0.4375rem -0.625rem;
}
.award-list li {
    margin: 0.4375rem 0.625rem;
}
.award-list li img {
    max-width: 6.25rem;
}
@media (max-width: 480px) {
    .award-list li img {
        max-width: 4.375rem;
    }
    
}

/* Service section css start */
.section-bg--2{
    background-color: #002046;
    position: absolute;
    z-index: 2;
    padding-bottom: 100px;
    width: 100%;
    height: auto;
}
.section-shape {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 84%, 82% 95%, 48% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 84%, 82% 95%, 48% 100%, 0 100%);
}
@media (max-width: 1199px) {
    .section-shape {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 95%, 82% 98%, 48% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 95%, 82% 98%, 48% 100%, 0 100%);
    }
}
@media (max-width: 575px) {
    .section-shape {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 98%, 100% 98%, 75% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 98%, 100% 98%, 75% 100%, 0 100%);
    }
}
.section-wave-img{
    /* position: absolute;
    width: 100%;
    height: auto;
    z-index: 1; */
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
}
.opacity50{
    opacity: 0.5;
}

.service-card {
    border: 2px solid #4663ee73 !important;
    padding: 50px 30px;
    background-color: #002550;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    overflow: hidden;
    position: relative;
    border: 2px solid rgba(69, 130, 255, 0.45);
    position: relative;
    z-index: 1;
}

@media (max-width: 1199px) {
    .service-card {
        padding: 2.1875rem 1.25rem;
    }
}

.service-card:hover{
    box-shadow: 0 5px 15px 1px #4663ee40 !important
}
.service-card::before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80%;
    clip-path: polygon(46% 66%, 76% 64%, 100% 41%, 100% 100%, 0 100%, 0 79%, 26% 79%);
    background-color: #002550;
    z-index: -1;
    animation: grow 7s infinite linear;
}
.service-card::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 82%;
    clip-path: polygon(46% 66%, 76% 64%, 100% 41%, 100% 100%, 0 100%, 0 79%, 26% 79%);
    background-color: #004393;
    z-index: -2;
    animation: grow 7s infinite linear;
}
.service-card .dotted-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    background-image: radial-gradient(#fff 20%, transparent 0), radial-gradient(#fff 20%, transparent 0);
    background-size: 10px 10px;
    background-position: 0 0, 25px 25px;
    opacity: 0.08;
    z-index: -1;
}
.service-card__icon {
    font-size: 66px;
    line-height: 1;
    color: #4582ff;
}
.service-card__content .title {
    color: #fff;
}
.service-card__content p {
    color: #f2f2f2;
}
@-webkit-keyframes grow {
    0% {
        clip-path: polygon(46% 66%, 76% 64%, 100% 41%, 100% 100%, 0 100%, 0 79%, 26% 79%);
    }
    25% {
        clip-path: polygon(48% 70%, 76% 63%, 100% 41%, 100% 100%, 0 100%, 0 78%, 25% 81%);
    }
    50% {
        clip-path: polygon(51% 67%, 80% 71%, 100% 45%, 100% 100%, 0 100%, 0 78%, 30% 79%);
    }
    75% {
        clip-path: polygon(48% 70%, 76% 63%, 100% 41%, 100% 100%, 0 100%, 0 78%, 25% 81%);
    }
    100% {
        clip-path: polygon(46% 66%, 76% 64%, 100% 41%, 100% 100%, 0 100%, 0 79%, 26% 79%);
    }
}
@-moz-keyframes grow {
    0% {
        clip-path: polygon(46% 66%, 76% 64%, 100% 41%, 100% 100%, 0 100%, 0 79%, 26% 79%);
    }
    25% {
        clip-path: polygon(48% 70%, 76% 63%, 100% 41%, 100% 100%, 0 100%, 0 78%, 25% 81%);
    }
    50% {
        clip-path: polygon(51% 67%, 80% 71%, 100% 45%, 100% 100%, 0 100%, 0 78%, 30% 79%);
    }
    75% {
        clip-path: polygon(48% 70%, 76% 63%, 100% 41%, 100% 100%, 0 100%, 0 78%, 25% 81%);
    }
    100% {
        clip-path: polygon(46% 66%, 76% 64%, 100% 41%, 100% 100%, 0 100%, 0 79%, 26% 79%);
    }
}
@-ms-keyframes grow {
    0% {
        clip-path: polygon(46% 66%, 76% 64%, 100% 41%, 100% 100%, 0 100%, 0 79%, 26% 79%);
    }
    25% {
        clip-path: polygon(48% 70%, 76% 63%, 100% 41%, 100% 100%, 0 100%, 0 78%, 25% 81%);
    }
    50% {
        clip-path: polygon(51% 67%, 80% 71%, 100% 45%, 100% 100%, 0 100%, 0 78%, 30% 79%);
    }
    75% {
        clip-path: polygon(48% 70%, 76% 63%, 100% 41%, 100% 100%, 0 100%, 0 78%, 25% 81%);
    }
    100% {
        clip-path: polygon(46% 66%, 76% 64%, 100% 41%, 100% 100%, 0 100%, 0 79%, 26% 79%);
    }
}
@keyframes grow {
    0% {
        clip-path: polygon(46% 66%, 76% 64%, 100% 41%, 100% 100%, 0 100%, 0 79%, 26% 79%);
    }
    25% {
        clip-path: polygon(48% 70%, 76% 63%, 100% 41%, 100% 100%, 0 100%, 0 78%, 25% 81%);
    }
    50% {
        clip-path: polygon(51% 67%, 80% 71%, 100% 45%, 100% 100%, 0 100%, 0 78%, 30% 79%);
    }
    75% {
        clip-path: polygon(48% 70%, 76% 63%, 100% 41%, 100% 100%, 0 100%, 0 78%, 25% 81%);
    }
    100% {
        clip-path: polygon(46% 66%, 76% 64%, 100% 41%, 100% 100%, 0 100%, 0 79%, 26% 79%);
    }
}
/* end of Service section css  */

/* Why section css */
.z-index-2 {
    z-index: 2;
}
.why-section-img{
    background-image: url('./Assets/why-section-bg-img.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.why-section-icon{
    min-width: 30px;
    max-width: 60px;
}

.why-card{
    margin: auto;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 2px 3px 5px gray;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.why-card:hover{
    border-radius: 8px;
    box-shadow: 2px 2px 30px gray;
    transform: scale(1.05);
    
}
/* why section css end */
  
/* Improve section css start */

.section--bg2{
    background-color: #002046;
}

.section-shape-two {
    -webkit-clip-path: polygon(0 10%, 100% 5%, 100% 90%, 0% 100%);
    clip-path: polygon(0 10%, 100% 5%, 100% 90%, 0% 100%);
}
.section-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.z-index-2 {
    z-index: 2;
}
img {
    max-width: 100%;
    height: auto;
}
.feaure-img{
    min-width: 30px;
    max-width: 40px;
    height: auto;
    border-radius: 5px;
}
/* Improve section css end */

/* Solution Section css start*/
.section-subtitle {
    font-family: "Maven Pro", sans-serif;
    font-size: 1rem;
    font-weight: 500;
}
.section-subtitle.border-left {
    padding-left: 2.1875rem;
    position: relative;
    z-index: 1;
}
.section-subtitle.border-left::before {
    position: absolute;
    content: '';
    top: 50%;
    left: 0;
    width: 25px;
    height: 2px;
    background-color: #4582ff;
    margin-top: -1px;
}

.align-items-center {
    align-items: center!important
}

/* Payment gateway css */
.payment_bg_img{
    background-image: url('/Assets/payement_gatway_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding: 20px;
}
.dark-overlay {
    position: relative;
    z-index: 1;
}
.dark-overlay::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #002046;
    opacity: 0.4;
    z-index: -1;
}

.icon i {
    color: white;
    font-size: 50px;
    background-color: #007bff;
    margin: 10px;
    display: inline-block;
    padding: 20px; 
    border-radius: 50px;
}

.icon i:hover{
    box-shadow:  5px 5px 10px rgb(184, 158, 158);
}
/* Payment gateway css end*/

 /* what people say section css start */
 .section-subtitle {
    font-family: "Maven Pro", sans-serif; 
    font-size: 1rem; 
    font-weight: 500; 
}

.section-subtitle.border-left {
    padding-left: 2.1875rem; 
    position: relative; 
    z-index: 1;
}

.section-subtitle.border-left::before {
    position: absolute; 
    content: ''; 
    top: 50%; 
    left: 0; 
    width: 25px; 
    height: 2px; 
    background-color: #4582ff; 
    transform: translateY(-50%); 
}
*,::after,::before {
    box-sizing: border-box
}
/* testimonial section css start */
.slide_desc{
    position: relative;
    background-color: #002046;
    margin-left: 35%;
    margin-top: -70px;
    min-width: 200px;
    max-width: 400px;
    z-index: 2;
    padding: 4px;
    border-radius: 5px;
}
/* testimonial section css end */


/* Subscription section Css Start */
.subscribe-section .section-wave-img {
    width: 100%;
}
.subscribe-section .section-wave-img img {
    width: 100%;
}

.subscribe-section {
    position: relative;
    padding: 80px 0; 
}
@media (max-width: 575px) {
    .subscribe-section {
        padding: 60px 0; 
    }
}
.subscribe-section::before {
    position: absolute;
    content: "";
    width: 54%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #002046;
    clip-path: polygon(0 0, 100% 0, 82% 100%, 0% 100%);
}
@media (max-width: 991px) {
    .subscribe-section::before {
    width: 100%;
    background-color: #002046c7;
    clip-path: unset;
}
}

.align-items-center {
    align-items: center!important
}

.align-items-baseline {
    align-items: baseline!important
}
.subscribe-content {
    position: relative;
    z-index: 2;
    padding-right: 55px;
    }

.subscription-form{
    border: 3px solid #4663ee;
    display: inline-block;
    border-radius: 40px;
    padding: 2px 2px;
}
.input--group {
    position: relative; 
    width: fit-content; 
}
button,input,textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}
.subscription-form .form--control {
    background-color: #002046;
    color: #fff;
    font-weight: 500;
    border-radius: 40px;
    padding: 15px 25px;
    border: 0;     
    padding-right: 177px;
    border: none !important;
}
.subscription-form .btn {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    height: 100%;
    align-items: center;
    border-radius: 40px !important;
    padding: 0px 15px;
    background-color: #007bff;
}

.btn-icon {
    font-size: 15px; 
    margin-left: 5px;
}

span {
   display: inline-block;
}
.section-subtitle.border-left {
    padding-left: 2.1875rem;
    position: relative;
    z-index: 1;
}
.section-subtitle.border-left::before {
    position: absolute;
    content: '';
    top: 50%;
    left: 0;
    width: 25px;
    height: 2px;
    background-color: #4582ff;
    margin-top: -1px;
}

    /* Announces and article button section */
.blog-card:hover{
    box-shadow: 3px 3px 5px gray;
    transform: scale(1.1);
    transition: transform 1s ease;
}
.blog-card__meta{
    position: relative;
    top: -75px;
    left: 5px;
    background-color: #007bff;
    display: inline-block;
    padding: 10px 20px;
}
.post-time{
    display: flex;
    flex-direction: column;
}
.blog-title a{
    text-decoration: none;
}

.content_desc a{
    text-decoration: none;
}

.read_more{
    text-decoration: none;
}

/* footer css start */
.footer{
    background-color: #002046;
    background-image: url('./Assets/footer_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.Footer_register_row{
    background-color: #4864ec;
}

.footer-link-list li{
    list-style-type: none;
}

.footer_links_heading{
    position: relative;
    padding-left: 40px;
}

.footer_links_heading::before{
    content: '';
    background: linear-gradient(to right, rgb(123, 123, 233), rgb(135, 51, 51), rgb(205, 116, 130));
    height: 3px;
    width: 40px;
    position: absolute;
    left: 50px;
    top:50%;
    border-radius: 10px;
}

.footer_anchors{
    text-decoration: none;
    color: white;
}

/* footer contact portion Css */
.footer-contact{
    background-color: #082c64;
}

.email-icon i{
    background-color:#004393;
    font-size: 20px;
    box-shadow: 0 0 15px rgba(206, 212, 235, 0.5);
}
.reserved_footer{
    background-color: #001937;
}
/* End of Home Page CSS */


/* START OF ABOUT PAGE CSS */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    background-color: transparent;
}
.select{
    background-color: transparent;
}

.select option{
    background-color: rgb(47, 47, 150);
}

/* inner hero  */
.inner-hero {
    background-image: url('/Assets/About-inner-hero.jpg');
    padding-top: 13.75rem;
    padding-bottom: 5rem;
    position: relative;
    z-index: 1;
}
@media (max-width: 1199px) {
    .inner-hero {
        padding-top: 11.875rem;
    }
}
@media (max-width: 400px) {
    .inner-hero {
        padding-top: 15.625rem;
    }
}
.inner-hero::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #002046;
    opacity: 0.7;
    z-index: -1;
}

.navbar-about{
    background-color: transparent;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(10px);
}

.section-subtitle{
    position: relative;
    left: 5px;
}
.header__bottom.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    background-color:#001937
}
.years-of-exp{
    background-color: #007bff;
    position: relative;
    display: inline-block;
    left: -40px;
    top:-30px
}


/* DEVELOPER Page CSS SECTION */
.documentation-sidebar{
    position: relative;
}
.documentation-sidebar li .get-start::before{
    position: absolute;
    content: '';
    width: 30px;
    height: 3px;
    background-color: #007bff;
    top: 5%;
    left: 0;

}
/* DEVELOPER Page CSS SECTION end */







