*{
    font-family: 'poppins', sans-serif;
    color: white;
}
.header-top{
    background-color: #1a5e92;
}
.dropdown button:hover{
    background-color: #1a5e92;
    color: white;
}
.dropdown-item:hover {
    background-color: #007bff; 
    color: white;
}
.navbar{
    background-color: #013c6c;
    min-height: 60px; 
    
}
.navbar-brand img {
    width: auto;
    height: 40px;
}
.nav-item .nav-link{
    color: white !important;
}
.nav-item .nav-link:hover{
    color: blue !important;
    
}
.hero{
    background-image: url('./Assets/home-background.jpg');

    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}
.intro-para{
    padding-top: 30px;
}
/* Tags on which animation has applied */
.ultimate {
    animation: slideUp 2s ease;
  }
  
/* Animation */
@keyframes slideUp {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }


